@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number."/>
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
             <div>
                <label for="countries">Country:</label>
                <select name="countries" id="countries">
                    <option value="Canada">Canada</option>
                    <option value="Namibia">Namibia</option>
                </select>
            </div>
            <div>
                <label for="fname">City:</label>
                <input type="text" id="fname" name="fname"><br><br>
            </div>
            <div>
                <label for="languages">Language:</label>
                <select name="lang" id="lang">
                    <option value="en">English</option>
                    <option value="es">Spanish</option>
                </select>
            </div>
            <div>
                <label for="act">Activity:</label>
                <select name="act" id="lang">
                    <option value="en">Badminton</option>
                    <option value="es">Voleyball</option>
                </select>
            </div>
            <div>
                <input type="checkbox" id="vehicle1" name="vehicle1" value="Available">
                <label for="vehicle1"> Available</label><br>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
